.characterBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterBtn {
  font-size: inherit;
  border: 1px solid var(--text-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}