.createCharacter {
  margin: 0 auto;
  margin-bottom: 40px !important;
}

.link {
  border: 1px solid var(--text-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  margin: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.link img {
  margin-left: 10px;
  width: 15px;
  height: auto;
}

/* -------------------- CHARACTER SHEET -------------------- */
h1 {
  line-height: 30px;
}

.guild {
  font-size: 24px;
}

br {
  height: 10px;
}

.section {
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 4px;
  margin: 20px 0;
  max-width: 345px;
}

.character p {
  width: calc(100% - 10px);
}

.section p {
  margin: 5px;
  font-size: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.bubble {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.filled {
  background-color: var(--text-color);
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.bubbleContainer,
.statModifiers {
  display: flex;
  align-items: center;
  gap: 5px;
}

.statModifiers p {
  margin: 0 4px;
  font-size: 12px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.characterSheet .diceButton {
  border: none;
  padding: 0;
}

.block {
  display: block;
}

.characterSheet button {
  border-radius: 5px;
  border-color: var(--text-color);
  padding: 10px;
  font-size: inherit;
}

.diceButton:focus {
  outline: none;
}

.labelContainer p {
  margin: 5px 0;
}

img {
  pointer-events: none;
}

.luck {
  width: 175px;
  margin: 20px auto;
}

.luck .stat {
  justify-content: center;
  gap: 10px
}

.luck .stat .statModifiers {
  margin-left: 15px;
}

.harm .bubbleContainer {
  justify-content: center;
  margin: 10px 0;
}

.harm .dying,
.harmExpContainer,
.skillContainer,
.specialty,
.specialtyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillContainer {
  flex-direction: column;
}

.harm .dying p {
  font-size: 14px;
}

.harm,
.experience {
  width: 125px;
  margin: 20px auto;
  height: 175px;
}

.harm h2 {
  margin: 0;
}

.plusMinus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.plusMinus button input {
  width: 25px;
  height: auto;
}

.experience .bubbleContainer {
  justify-content: center;
}

.experience .experiencePoints {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 60px;
  margin: 10px auto;
}

.experiencePoints p {
  text-align: center;
  font-size: 24px;
}

.skillsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skillContainer {
  margin: 10px 0;
}

.specialty p {
  font-size: 10px;
}

.specialtyContainer {
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.specialty {
  width: 90%;
}

.skill,
.skills h2 {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 20px;
}

.expBtn {
  display: block;
  margin: 0 auto !important;
  border: 1px solid var(--text-color) !important;
  padding: 5px 10px !important;
  border-radius: 5px;
}