.createCharacter {
  margin: 0 auto !important;
  margin-bottom: 40px !important;
  width: 280px !important;
}

.link {
  border: 1px solid var(--text-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.link img {
  margin-left: 10px;
  width: 15px;
  height: auto;
}

/* -------------------- CHARACTER SHEET -------------------- */
h1 {
  line-height: 30px;
}

.guild {
  font-size: 24px;
}

br {
  height: 10px;
}

.section {
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 325px;
}

.character p {
  width: calc(100% - 10px);
}

.section p {
  margin: 5px;
  font-size: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.bubble {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.filled {
  background-color: var(--text-color);
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.bubbleContainer,
.statModifiers {
  display: flex;
  align-items: center;
  gap: 5px;
}

.statModifiers p {
  margin: 0 4px;
  font-size: 12px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.diceButton {
  border: none;
  padding: 0;
}

.block {
  display: block;
}

.characterSheet button {
  border-radius: 5px;
  border-color: var(--text-color);
  font-size: inherit;
}

.diceButton:focus {
  outline: none;
}

.labelContainer p {
  margin: 5px 0;
}

img {
  pointer-events: none;
}

.luck {
  width: 175px;
  margin: 20px auto;
}

.luck .stat {
  justify-content: center;
  gap: 10px
}

.luck .stat .statModifiers {
  margin-left: 15px;
}

.harm .bubbleContainer {
  justify-content: center;
  margin: 10px 0;
}

.harm .dying,
.harmExpContainer,
.skillContainer,
.specialty,
.specialtyContainer,
.addMeter,
.addLevel,
.needContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillContainer {
  flex-direction: column;
}

.harm .dying p {
  font-size: 14px;
}

.harm,
.experience {
  width: 125px;
  margin: 20px auto;
  height: 175px;
}

.harm h2 {
  margin: 0;
}

.plusMinus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.plusMinus button input {
  width: 25px;
  height: auto;
}

.experience .bubbleContainer {
  justify-content: center;
}

.experience .experiencePoints {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 60px;
  margin: 10px auto;
}

.experiencePoints p {
  text-align: center;
  font-size: 24px;
}

.skillsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skillContainer {
  margin: 10px 0;
}

.specialty p {
  font-size: 10px;
}

.specialtyContainer {
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.specialty {
  width: 90%;
}

.skill,
.skills h2 {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 20px;
}

.expBtn {
  display: block;
  margin: 0 auto !important;
  border: 1px solid var(--text-color) !important;
  padding: 5px 10px !important;
  border-radius: 5px;
}

.addMeterSection {
  border: 1px solid var(--nav-color);
  width: 10px;
  height: 10px;
}

.boldRight {
  border-right: 3px solid var(--nav-color);
}

.addLevel {
  gap: 28px;
}

.addLevel p {
  margin: 0;
}

.levelBold {
  color: hsl(0, 70%, 50%);
  font-weight: 700;
}

.need {
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.redFill {
  background-color: hsl(0, 70%, 50%);
}

.needContainer {
  gap: 10px;
  margin: 10px 0;
  margin-bottom: 20px;
}

.addiction .plusMinus {
  margin-bottom: 0;
}

.dyingButton {
  margin-left: 5px;
}

.dead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent-background-color);
  z-index: 31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dead .deathImg {
  width: 200px;
  height: auto;
}

.dead p {
  font-size: 42px;
}

.dead .resurrect {
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
}

.warning {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100vw;
  z-index: 40;
}

.warning p {
  background-color: hsl(0, 70%, 30%);
  border: 3px solid black;
  color: white;
  padding: 10px 20px;
  width: 250px;
  margin: 0 auto;
}

.wealthGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  width: 200px;
  margin: 0 auto;
}

.wealthGrid div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wealthGrid div p {
  margin: 0;
  text-align: left;
  width: 100%;
}

.wealthGrid .bubbleCol {
  align-items: flex-end;
}

.wealthGrid .adjCol {
  align-items: flex-start;
}

.wealth h2 {
  margin: 0;
}

.wealth {
  width: 160px;
  margin: 0 auto;
}

.gear .gearAdd input {
  width: 18px;
  height: auto;
}

.gear .gearAdd {
  margin-left: 10px;
  display: inline;
}

.gear .trashButton {
  margin-left: 10px;
}

.gearItem {
  margin: 10px 0;
}

.gearInput {
  margin: 0 auto;
  background-color: inherit;
  color: inherit;
  border: 1px solid var(--text-color);
  padding: 5px;
  display: block;
}

.detailsInput {
  background-color: inherit;
  font: inherit;
  color: inherit;
  border: 1px solid var(--text-color);
  padding: 5px;
  display: block;
  margin: 10px auto;
  width: 280px;
  height: 180px;
}

.app .trashButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent-background-color);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.confirm p {
  font-size: 42px;
}

.confirm button {
  margin: 0 10px;
  font-size: 32px;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
}

.characterBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterBtnContainer button input {
  width: 20px;
  height: auto;
}

@media (min-width:992px) {
  .charactersMain {
    max-width: calc(992px - 60px);
  }

  .characterSheet {
    display: grid;
    grid-template-areas:
      "title title title"
      "myth info stats"
      "myth luck harmExp"
      "gear skills skills"
      "details details details"

    ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
  }

  .gear {
    grid-area: gear;
    width: 90%;
  }

  .skills {
    grid-area: skills;
    width: initial;
    max-width: none;
  }

  .skillsGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .character {
    grid-area: info;
    height: 160px;
    position: relative;
    width: 250px;
  }

  .stats {
    grid-area: stats;
    height: 250px;
  }

  .luck {
    grid-area: luck;
    height: 100px;
    position: relative;
    top: 80px;
    right: 300px;
  }

  .harmExpContainer {
    grid-area: harmExp;
    gap: 10px;
  }

  h1 {
    grid-area: title;
  }

  .addiction {
    grid-area: myth;
    height: 325px;
  }

  .details {
    grid-area: details;
    max-width: none;
  }

  .detailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .wealth {
    grid-area: luck;
    height: 240px;
    position: relative;
    bottom: 60px;
  }

  .throwdown {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 20px;
  }
}